body {background-color: black;}
dark_blue{color: rgb(34,38,105);}
medium_blue{color: rgb(98,140,188)}
light_green{color: rgb(213,236,223)}

@font-face {
    font-family: myFont; /*Goudy Medieval*/
    src:local("C:\Users\skido\Desktop\Goudy Mediaeval Regular.ttf");
}
@font-face {
    font-family: myOtherFont; /*Goudy Alternate*/
    src:local("C:\Users\skido\Desktop\Goudy Medieval Alternate.ttf")
}
p {
    font-family: myFont;
    color: rgb(213,236,223);
}
p2 {
    font-family: myFont;
    color: rgb(213,236,223);
}
h {
    font-family: myOtherFont;
}
body {
    font-family: myFont;
    background-color: rgb(black);
}

.nav-link-blue{
    color: rgb(98,140,188);
}